.content-block {
  background: rgba(55,13,25,0.8);
  color: white;
  height: 100%;
  padding: 1% 0% 5% 0%;
}

.content-left {
  height: 100% !important;
}

.content-right {
  height: 100% !important;
}

/* div {
  outline: 1px dashed red;
} */

/*
.card {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  height: 30% !important;
  width: 90%;
  background: white !important;
  border: none !important;
  box-shadow: none !important;
} */

