<app-navbar></app-navbar>
<div class="ui container">
  <div class="ui grid">
    <div class="row">
      <div class="ten wide column">
        <div class="content-block content-left">

          </div>
      </div>
      <div class="six wide column">
        <div class="content-block content-right">
          <div class="ui card centered">
            <div class="image">
              <img src="./assets/images/sonic.jpg">
            </div>
            <div class="content">
              <a class="header">Sonic</a>
              <div class="meta">
                <span class="date">Joined in 2013</span>
              </div>
              <div class="description">
                Sonic is a speedy hedgehog.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
