<app-navbar></app-navbar>
<div id="accountWrapper">
  <div class="ui container">
    <div class="ui grid">
      <div class="row">
        <div class="six wide column">
          <div class="content-block content-right">
            <div class="ui card centered">
              <div class="image">
                <img src="{{profilePic}}">
              </div>
              <div class="content">
                <a class="header">{{activeUser}}</a>
                <!-- TODO: Conditionally render joined date? -->
                <!-- <span class="date">Joined in 2013</span> -->
                <div class="ui secondary vertical menu">
                  <!-- TODO: Add active class for current path -->
                  <a class="active item" [routerLink]="['profile']">
                    My Profile
                  </a>
                  <a class="item" [routerLink]="['user-events']">
                    My Events
                  </a>
                  <a class="item">
                    Favorite Games
                  </a>
                  <a class="item">
                    Message History
                  </a>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  <!-- TODO: Pull number of friends from database for user -->
                  22 Friends
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="ten wide column">
          <div class="content-block content-left">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
