<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="row">
        <div class="four wide column">
            <h4 class="ui inverted header">Contact</h4>
            <div class="ui inverted link list">
                <p>(940) 453-9064</p>
                <p>1842 Justin Rd</p>
                <p>Highland Village, TX 75077</p>
            </div>
          </div>
          <div class="five wide column">
              <h4 class="ui inverted header">Hours</h4>
              <p><strong>Monday-Thursday:</strong> 1pm-11pm</p>
              <p><strong>Friday-Saturday:</strong> 10am-12am</p>
              <p><strong>Sunday:</strong> 12pm-10pm</p>
            </div>
          <div class="seven wide column">
            <!-- are we doing a sub service or just pointing them to the socials? -->
            <h4 class="ui inverted header">Subscribe</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            <div class="row centered">
              <img src="assets/images/social-instagram.png">
              <img src="assets/images/social-facebook.png">
              <img src="assets/images/social-twitter.png">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>