#wrapfooter {
  width:100%;
  position: relative;
  bottom:0;
  left:0;
}

p {
  margin-bottom: .25em;
}

img {
  width: auto;
  height: 2.5em;
  padding: 1em .5em 0 .5em;
}

.ui.footer.segment {
  bottom: 0;
  width: 100%;
  padding: 2.5em 0em;
  margin: 0em;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: rgb(46, 163, 184);
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  display: flex;
}

.social-icon {
  padding: .5em .5em 0 .5em !important;
}

.email-box {
  text-align: center;
  width: 100% !important;
  padding-left: 20% !important;
}

input, button {
  margin: 0 auto;
  display: inline-block;
  height: 40px !important;
}

input {
  width: 45% !important;
  margin: 0% 3% 0% 0% !important;
}