<div class="ui container">
  <div class="ui card centered">
      <div class="content">
        <div class="center aligned description grid">
          <div class="row top20">
              <span id="welcome"></span>
              <span class="typer">|</span>
          </div>
          <div class="row top20">
              <img src="assets/images/ghosty.gif">
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
            <button id="login" [routerLink]="['/login']" routerLinkActive="active">Login</button>
            <button id="register" [routerLink]="['/register']" routerLinkActive="active">Register</button>
        </div>
      </div>
    </div>
</div>
