<app-navbar></app-navbar>
<div class="ui container">
  <div class="ui grid">
    <div class="row">
      <div class="ten wide column">
        <div class="content-block content-left">
            <div class="ui card">
              <div class="content top">
                <h1 class="retro">RETRO FREEPLAY ARCADE</h1>
              </div>
              <div class="content">
                <img class="right floated ghost" style="margin-top:2em;" src="../../assets/images/pinkghost.gif">
                <div class="blurb">
                  We have over 60+ retro arcade cabinets at any given time and cycle through the games
                  so that there's always something different to play. We even have pinball machines!
                </div>
              </div>
            </div>

            <div class="ui card">
              <div class="content top">
                <h1 class="retro">TABLETOP GAMING LOUNGE</h1>
              </div>
              <div class="content">
                <img class="right floated magic" src="../../assets/images/magic.png">
                <div class="blurb">
                  Rent one of our board games or bring your own and enjoy playing in our
                  open-play tabletop game room. Want to make it a tradition? Start your own
                  game night with us. We’ll even help you find more players!
                </div>
              </div>
            </div>

            <div class="ui card">
              <div class="content top">
                <h1 class="retro">ITEM SHOP</h1>
              </div>
              <div class="content">
                <img class="right floated ghost" src="../../assets/images/potion.png">
                <div class="blurb">
                  Keep the good times rollin’ and grab some health and mana potions from
                  our snack bar. Need to change up your TCG deck? Pick up a few boosters.
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="six wide column">
        <div class="content-block content-right">

          <div class="holder">
            <div class="date day-one">
              <h1>{{today.getDate()}} {{day1}}</h1>
            </div>
            <div class="events">
              <div *ngIf="array1.length > 0">
                <button (click)="displayModal(elem)" class="ui inverted teal button sidebar-event" *ngFor="let elem of array1">
                  {{elem.eventTitle}}
              </button>
              </div>
            </div>
          </div>


          <div class="holder">
            <div class="date day-one">
              <h1>{{tomorrow1.getDate()}} {{day2}}</h1>
            </div>
            <div class="events">
              <div *ngIf="array2.length > 0">
                <button (click)="displayModal(elem)" class="ui inverted teal button sidebar-event" *ngFor="let elem of array2">
                  {{elem.eventTitle}}
              </button>
              </div>
            </div>
          </div>


          <div class="holder">
            <div class="date day-one">
              <h1>{{tomorrow2.getDate()}} {{day3}}</h1>
            </div>
            <div class="events">
              <div *ngIf="array3.length > 0">
                <button (click)="displayModal(elem)" class="ui inverted teal button sidebar-event" *ngFor="let elem of array3">
                  {{elem.eventTitle}}
              </button>
              </div>
            </div>
          </div>


          <div class="holder">
            <div class="date day-one">
              <h1>{{tomorrow3.getDate()}} {{day4}}</h1>
            </div>
            <div class="events">
              <div *ngIf="array4.length > 0">
                <button (click)="displayModal(elem)" class="ui inverted teal button sidebar-event" *ngFor="let elem of array4">
                  {{elem.eventTitle}}
              </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="eventModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      <p>{{currentEvent}}</p>
      <p class="small-p">{{eventDate}}</p>
    </div>
    <div class="content">
      <p>Time: {{eventStart}} to {{eventEnd}}</p>
      <p>Description: {{eventDescription}}</p>
    </div>
    <div class="actions">
      <div class="ui approve button">Join Game</div>
      <!-- Additional button options if needed -->
      <!-- <div class="ui button">Neutral</div>
      <div class="ui cancel button">Cancel</div> -->
    </div>
  </div>

</div>

