.content-block {
  background: rgba(55,13,25,0.8);
  color: white;
  height: 100%;
  padding: 1% 0% 5% 0%;
}

.content-left {
  height: 100% !important;
}

.content-right {
  height: 100% !important;
}

/* div {
  outline: 1px dashed red;
} */


.card {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  height: 30% !important;
  width: 90%;
  background-color: rgba(20,9,9,0.8);
  border: none !important;
  box-shadow: none !important;
}

.ghost {
  max-width: 20%;
  height: auto;
  margin-right: 5%;
}

.magic {
  max-width: 30%;
  height: auto;
  margin-top: 5%;
}

.blurb {
  max-width: 50%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: large;
}

.events {
  height: 70%;
  padding: 15px;
}

.date {
  height: 30%;
  background: rgba(55,13,25,1.0);
}
.holder {
  height: 25%
}

.retro {
  padding: 3%;
  text-shadow: 2px 2px 5px #0ff;
}

.top {
  border-bottom: 1px solid #0ff !important;
  height: 20%
}

.sidebar-event {
  margin: 5px;
}

.ui.modal>.header {
  background: rgb(65, 161, 161);
  color: white;
  border-bottom: 1px solid white;
}
.ui.modal>.header:not(.ui) {
  font-size: 2rem;
  line-height: 1.28571429em;
  font-weight: 700;
  text-align: center;
}

.ui.modal>.content,
.ui.modal>.actions {
  background: rgb(120, 128, 128);
  color: white;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}

.ui.button {
  background: #FE019A;
  color: white;
}

.ui.button:hover {
  background: rgb(206, 1, 124);
}

/* .ui.modal>.content {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
} */

.small-p {
  font-size: .60em;
}
