<app-navbar></app-navbar>
<!-- <app-chat-box></app-chat-box> -->
<script src="../../calendar//caleandar.js"></script>

<div class="ui container">

  <div class="content-block">
    <div class="ui grid">
      <div class="row">
        <div class="twelve wide column">
          <div class="calendar-title">
            <header>Event Calendar</header>
          </div>
        </div>
        <div class="four wide column">
          <div class="schedule-button">
            <div *ngIf="user">
              <button (click)="showCreateEventModal()" class="ui button" style="margin-top: 2em;">
                Schedule event
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui card centered">
      <div class="content">
        <full-calendar
          defaultView="dayGridMonth"
          [plugins]="calendarPlugins"
          [events]="calendarEvents"
          (eventClick)="handleEventClick($event)"
          (dateClick)="handleClick($event)"
        >
        </full-calendar>
      </div>
    </div>
  </div>

  <!-- MODALS -->
  <div id="createEventModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      <p>Create New Event</p>
    </div>
    <div class="content">
      <form [formGroup]="eventsForm">
        <div class="form-group">
          <label class="inputTitle">Game Name</label>
          <input
            formControlName="eventTitle"
            type="text"
            class="form-control"
            id="inputTitle"
            placeholder="Enter type of game"
          />
        </div>
        <div class="form-group">
          <label class="inputTitle">Date</label>
          <input
            formControlName="date"
            type="date"
            class="form-control"
            id="inputDate"
            placeholder="enter date"
          />
        </div>
        <div class="form-group">
          <label class="inputTitle">Start time</label>
          <input
            formControlName="startTime"
            type="number"
            class="form-control"
            id="inputStartTime"
            placeholder="Enter starting time ( ex. 4 ) "
          />
          <div class="ui checkbox">
            <input id="example-id" type="checkbox" (click)="handleChecked1()" />
            <label for="example-id">PM</label>
          </div>
        </div>
        <div class="form-group">
          <label class="inputTitle">End time</label>
          <input
            formControlName="endTime"
            type="number"
            class="form-control"
            id="inputEndTime"
            placeholder="Enter end time ( ex. 6 ) "
          />
          <div class="ui checkbox">
            <input
              id="example-id2"
              type="checkbox"
              (click)="handleChecked2()"
            />
            <label for="example-id2">PM</label>
          </div>
        </div>
        <div class="form-group">
          <label class="inputTitle">Resources required</label>
          <input
            formControlName="resources"
            type="text"
            class="form-control"
            id="inputResources"
            placeholder="Dice, cards, etc"
          />
        </div>
        <div class="form-group">
          <label class="inputTitle">Description of event</label>
          <input
            formControlName="description"
            type="text"
            class="form-control"
            id="inputDescription"
            placeholder="Short description of play style or what the event is for"
          />
        </div>
        <div class="form-group">
          <label class="inputTitle">Max number of Players</label>
          <input
            formControlName="maxPlayers"
            type="number"
            class="form-control"
            id="inputMax"
          />
        </div>
        <div class="form-group">
          <label class="inputTitle">Min number of Players</label>
          <input
            formControlName="minPlayers"
            type="number"
            class="form-control"
            id="inputMin"
          />
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui approve button" (click)="chooseTable()">Choose Table</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div id="createEventTableModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      PLEASE CLICK A TABLE TO RESERVE
      <div class="con">
        <div class="table">
          <h3>Available:</h3>
          <img
            class="examples"
            src="../../../assets/images/available.png"
          />
        </div>
        <div class="table">
          <h3>Unavilable:</h3>
          <img
            class="examples"
            src="../../../assets/images/unavailable.png"
          />
        </div>
        <div class="table">
          <h3>Selected:</h3>
          <img class="examples" src="../../../assets/images/selected.png" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="tables">
        <h1>Table 1</h1>
        <div class="table">
          <div *ngIf="table1checked == true">
            <img
              (click)="clickedTable1()"
              src="../../../assets/images/selected.png"
            />
          </div>
          <div *ngIf="table1 == true && table1checked == false">
            <img
              (click)="clickedTable1()"
              src="../../../assets/images/available.png"
            />
          </div>
          <div *ngIf="table1 == false && table1checked == false">
            <img
              (click)="clickedTable1()"
              src="../../../assets//images//unavailable.png"
            />
          </div>
        </div>

        <h1>Table 2</h1>
        <div class="table">
          <div *ngIf="table2checked == true">
            <img
              (click)="clickedTable2()"
              src="../../../assets/images/selected.png"
            />
          </div>
          <div *ngIf="table2 == true && table2checked == false">
            <img
              (click)="clickedTable2()"
              src="../../../assets/images/available.png"
            />
          </div>
          <div *ngIf="table2 == false && table2checked == false">
            <img
              (click)="clickedTable2()"
              src="../../../assets//images//unavailable.png"
            />
          </div>
        </div>

        <h1>Table 3</h1>
        <div class="table">
          <div *ngIf="table3checked == true">
            <img
              (click)="clickedTable3()"
              src="../../../assets/images/selected.png"
            />
          </div>
          <div *ngIf="table3 == true && table3checked == false">
            <img
              (click)="clickedTable3()"
              src="../../../assets/images/available.png"
            />
          </div>
          <div *ngIf="table3 == false && table3checked == false">
            <img
              (click)="clickedTable3()"
              src="../../../assets//images//unavailable.png"
            />
          </div>
        </div>

        <h1>Table 4</h1>
        <div class="table">
          <div *ngIf="table4checked == true">
            <img
              (click)="clickedTable4()"
              src="../../../assets/images/selected.png"
            />
          </div>
          <div *ngIf="table4 == true && table4checked == false">
            <img
              (click)="clickedTable4()"
              src="../../../assets/images/available.png"
            />
          </div>
          <div *ngIf="table4 == false && table4checked == false">
            <img
              (click)="clickedTable4()"
              src="../../../assets//images//unavailable.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui approve button" (click)="createEvent()">Choose Table</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div id="singleEventModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      <p>EVENT: {{ eventTitle }}</p>
    </div>
    <div class="content">
      <div class="tableContent">
        <p>DATE: {{ clickedDate }}</p>
        <p>TIME: {{ startTime }} to {{ endTime }}</p>
        <p>TABLE: {{ table }}</p>
      </div>
      <div *ngFor="let player of currentPlayers">
        <p>{{ player }}</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui approve button" (click)="joinEvent()">Join Event</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

</div>
