<script src="../../calendar//caleandar.js"></script>

<div class="ui container">

    <div *ngIf="showModal">
        <div class="modal">
        <div class="ui active modal">
            <i class="close icon" (click)="hideModal()"></i>
            <div class="header">CREATE NEW GAME</div>
            <div class="content">
                <form [formGroup]="eventsForm">
                    <div class="form-group">
                        <label class="inputTitle">Event Title</label>
                        <input formControlName="eventTitle" type="name" class="form-control" id="inputGame"
                         placeholder="Enter type of game">
                    </div>
                    <div class="form-group">
                        <label class="inputTitle">Date</label>
                        <input formControlName="date" type="date" class="form-control" id="inputDate"
                            placeholder="enter date">
                    </div>
                    <div class="form-group">
                        <label class="inputTitle">Max number of Players</label>
                        <input formControlName="maxPlayers" type="number" class="form-control" id="inputMax">
                    </div>
                    <div class="form-group">
                        <label class="inputTitle">Min number of Players</label>
                        <input formControlName="minPlayers" type="number" class="form-control" id="inputMin">
                    </div>
                    <div class="form-group" style="text-align:center; margin-left: 10rm;">
                        <div class="ui black button" (click)="chooseTable()">Choose Table</div>
                    </div>
                </form>
            </div>
            <div class="actions">
            </div>
        </div>
        </div>
    </div>

    <div *ngIf="tableModal">
        <div class="modal">
        <div class="ui active modal">
            <i class="close icon" (click)="hideTableModal()"></i>
            <div class="header">SELECT TABLE</div>
            <div class="tableContent">
                <form [formGroup]="eventsForm">
                    <div class="form-group">
                        <label class="inputTitle">Table</label>
                         <select id="inputGame" class="form-control" formControlName="table">
                            <option value="1">Table 1</option>
                            <option value="2">Table 2</option>
                            <option value="3">Table 3</option>
                            <option value="4">Table 4</option>
                          </select>
                    </div>
                    <div class="form-group" style="text-align:center; margin-left: 10rm;">
                        <div class="ui black button" (click)="createEvent()">Choose Table</div>
                    </div>
                </form>
            </div>
            <div class="actions">
            </div>
        </div>
        </div>
    </div>

    <div *ngIf="clickedEvent">
        <div class="modal">
            <div class ="ui active modal">
                <i class="close icon" (click)="hideEventModal()"></i>
            </div>
        </div>
    </div>


    <div class="content-block">
    <div class="ui card centered">
        <div class="content">
            <full-calendar 
            defaultView="dayGridMonth"
            [plugins]="calendarPlugins"
            [events]="calendarEvents"
            (eventClick)="handleEventClick($event)"
            ></full-calendar>
        </div>
        <div class="content">
            <button (click)="displayModal()" class="ui button">Schedule event</button>
        </div>
    </div>
    

   
    </div>
</div>

