<app-navbar></app-navbar>
<div id="faqWrapper">
  <div class="padded">
    <div class="ui styled accordion custom">
      <h1 class="faq-title">Frequently Asked Questions</h1>
        <div class="active title">
          <i class="dropdown icon"></i>
          How do I join a game with an open seat?
        </div>
        <div class="active content">
          1. Register an account<br />
          2. Find the seat<br />
          3. Click JOIN GAME<br />
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          How do I reserve a table for a tabletop game?
        </div>
        <div class="content">
          <p>
            1. Register an account<br />
            2. Navigate to the Events page<br />
            3. Click CREATE EVENT<br />
            4. Fill in the required fields<br />
            5. Click CHOOSE TABLE<br />
            6. Select an open table<br />
            7. Click CONFIRM TABLE<br />
          </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          What are the prices?
        </div>
        <div class="content">
          <p>Whatever you want to make them.</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          How many games do you have?
        </div>
        <div class="content">
          <p>NP = NP-Complete</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Can I start a game night here?
        </div>
        <div class="content">
          <p>Yes, we welcome all tabletop games.</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Can I have my birthday party here?
        </div>
        <div class="content">
          <p>Yes, we host birthdays. We only ask that you do not bring outside food or drinks.</p>
        </div>
        <div id="email-accordion" class="title">
          <i class="dropdown icon"></i>
          I have a question not on here! What do I do?
        </div>
        <div class="content">
          <button id="email-button" type="submit" (click)="toggleModal()">Feel free to send us an email!</button>
    </div>
  </div>
</div>
<!-- add ability to send store owner an email -->

<div id="emailModal" class="ui tiny modal">
  <i class="close icon cancel"></i>
  <div class="header">
    <p>Email Us!</p>
  </div>
  <div style="padding:1em 2em 2em 2em !important;">
    <form [formGroup]="emailOwner" class="ui form">
      <div class="form-group">
        <div class="field">
          <label class="inputTitle">Your Email Address</label>
          <input formControlName="userEmail" type="email" class="form-control" id="userEmail" required>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label class="inputTitle">Subject Line</label>
          <input formControlName="subjectLine" type="text" class="form-control" id="subjectLine" required>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label class="inputTitle">Content</label>
          <textarea formControlName="content" type="text" class="form-control" id="content" wrap="soft" required></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui button" id="edit-button" (click)="sendEmail()">Send</div>
    <div class="ui button" id="edit-button" (click)="toggleModal()">Cancel</div>
  </div>
    <!-- <div class="ui error message" *ngIf="showErrorMessage">
      <div class="header">Send Error</div>
      <p>{{sendError}}</p>
    </div>
    <div class="ui success message" *ngIf="showSuccessMessage">
      <div class="header">Success!</div>
      <p>{{successMessage}}</p>
    </div> -->
</div>