<app-navbar></app-navbar>
<div id="faqWrapper">
  <div class="padded">
    <div class="ui styled accordion custom">
      <h1 class="faq-title">Frequently Asked Questions</h1>
        <div class="active title">
          <i class="dropdown icon"></i>
          How do I join a game with an open seat?
        </div>
        <div class="active content">
          1. Register an account<br />
          2. Find the seat<br />
          3. Click JOIN GAME<br />
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          How do I reserve a table for a tabletop game?
        </div>
        <div class="content">
          <p>
            1. Register an account<br />
            2. Navigate to the Events page<br />
            3. Click CREATE EVENT<br />
            4. Fill in the required fields<br />
            5. Click CHOOSE TABLE<br />
            6. Select an open table<br />
            7. Click CONFIRM TABLE<br />
          </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          What are the prices?
        </div>
        <div class="content">
          <p>Whatever you want to make them.</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          How many games do you have?
        </div>
        <div class="content">
          <p>NP = NP-Complete</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Can I start a game night here?
        </div>
        <div class="content">
          <p>Yes, we welcome all tabletop games.</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Can I have my birthday party here?
        </div>
        <div class="content">
          <p>Yes, we host birthday's. We only ask that you do not bring outside food or drinks.</p>
        </div>
    </div>
  </div>
</div>
