<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="background"></div>

  <div>
    <mat-toolbar class="toolbar" color="primary">
      <div class="col-6 title">{{title}}</div>
      <div class="col-6 menu">
        <span *ngIf="loginStatus === false">
            <button mat-menu-item [routerLink]="['/home']">Home</button>
            <button mat-menu-item>Events</button>
            <button mat-menu-item>FAQ</button>
        </span>
        <span *ngIf="loginStatus === true">
          <button mat-menu-item [routerLink]="['/home']">Home</button>
          <button mat-menu-item>Events</button>
          <button mat-menu-item>FAQ</button>
          <button mat-menu-item>My Account</button>
        </span>
      </div>
    </mat-toolbar>

    <div class="container"><router-outlet></router-outlet></div>
    <app-contact-footer></app-contact-footer>
  </div>
</body>
