<div class="friends-title">
  <h2 class="ui icon header">
    <i class="circular users icon"></i>
    <button (click)="displayFriendModal()" class="ui button float-right">Find Friends</button>
  </h2>
<div>
<div class="friendContent">
  <div *ngIf="hasFriends">
    <div class="friendDisplay" *ngFor="let friend of friends; let i = index" (click)="selectUser(i)">
      <div>{{friend}}</div>
    </div>
  </div>
  <div class="friendDisplay" *ngIf="!hasFriends" style="text-align: center;">Add some friends!</div>
</div>
</div>

<!-- MODALS -->
<div id="friendModal" class="ui small modal">
    <div class="header">
        <p class="ui sticky">Select User to View Profile</p>
    </div>
    <div class="content">
      <div class="ui grid">
        <div class="five wide column" *ngFor="let player of users; let i = index" (click)="selectUser(i)" id="users">
          <div>{{player.username}}</div>
        </div>
      </div>
    </div>
</div>

<div id="profileModal" class="ui small modal">
  <div class="header">
    <p>{{username}}</p>
  </div>
  <div class="content">
    <img src="{{profilePic}}">
    <div>{{name}}</div>
    <div>{{email}}</div>
    <div class="buttonWrapper"><button class="ui button" (click)="addFriend()">Add Friend</button></div>
  </div>
</div>
