<div class="ui inverted segment navbar-custom">
  <div class="ui inverted secondary pointing menu navbar-custom">
    <div class="title">
       <img src="../../assets/images/logo.png">
    </div>

    <div class="right menu" *ngIf="!readSession('activeUser')">
        <a class="item" [ngClass]="{'active': href === '/home'}" [routerLink]="['/home']">
        Home
        </a>
        <a class="item" [ngClass]="{'active': href === '/events'}" [routerLink]="['/events']">
        Events
        </a>
        <a class="item">
        FAQ
        </a>
        <a class="item" [ngClass]="{'active': href === '/login'}" [routerLink]="['/login']">
        Login
        </a>
    </div>
    <div class="right menu" *ngIf="readSession('activeUser')">
        <div class="greeting">
          <span id="welcome">Welcome, {{activeUser}}!</span>
        </div>
        <a class="item loggedIn" [ngClass]="{'active': href === '/home'}" [routerLink]="['/home']">
        Home
        </a>
        <a class="item loggedIn" [ngClass]="{'active': href === '/events'}" [routerLink]="['/events']">
        Events
        </a>
        <a class="item loggedIn">
        FAQ
        </a>
        <a class="item loggedIn" [ngClass]="{'active': href === '/account'}" [routerLink]="['/account/profile']">
        My Account
        </a>
        <a class="item loggedIn" (click)="logout()">
        Logout
        </a>
    </div>
  </div>
</div>
