.title {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: .35em;
    padding: .5em 0 .5em .75em;
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0px;
    border-color: rgba(34,36,38,.15);
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    color: rgba(255,255,255,.9);
    background: rgb(46, 163, 184);
}

.ui.inverted.menu {
    box-shadow: none;
    border: 0 solid transparent;
    background: rgb(46, 163, 184);
}