<div id="wrapheader">
  <div class="ui inverted segment navbar-custom">
    <div class="ui inverted secondary pointing menu navbar-custom">
      <div class="title">
        <img src="../../assets/images/logo.png">
      </div>

      <div class="right menu" *ngIf="readSession('userType') === 'inactive'">
          <a id="nav-home" class="item" [ngClass]="{'active': href === '/home'}" [routerLink]="['/home']">
          Home
          </a>
          <a id="nav-events" class="item" [ngClass]="{'active': href === '/events'}" [routerLink]="['/events']">
          Events
          </a>
          <a id="nav-faq" class="item" [ngClass]="{'active': href === '/faq'}" [routerLink]="['/faq']">
          FAQ
          </a>
          <a id="nav-login" class="item" [ngClass]="{'active': href === '/login'}" [routerLink]="['/login']">
          Login
          </a>
      </div>
      <div class="right menu" *ngIf="readSession('userType') === 'user'">
        <a class="item greeting" style="pointer-events: none; font-style: italic;">
          <img class="ui avatar image" src="{{readSession('profilePic')}}">
          Welcome, {{readSession('activeUser')}}!
        </a>
        <a id="nav-home" class="item loggedIn" [ngClass]="{'active': href === '/home'}" [routerLink]="['/home']">
        Home
        </a>
        <a id="nav-events" class="item loggedIn" [ngClass]="{'active': href === '/events'}" [routerLink]="['/events']">
        Events
        </a>
        <a id="nav-faq" class="item loggedIn" [ngClass]="{'active': href === '/faq'}" [routerLink]="['/faq']">
        FAQ
        </a>
        <a id="nav-profile" class="item loggedIn" [ngClass]="{'active': href === '/account'}" [routerLink]="['/account/profile']">
        My Account
        </a>
        <a id="nav-logout" class="item loggedIn" (click)="logout()">
        Logout
        </a>
      </div>
      <div class="right menu" *ngIf="readSession('userType') === 'admin'">
        <a class="item greeting" style="pointer-events: none; font-style: italic;">
          <img class="ui avatar image" src="{{readSession('profilePic')}}">
          Welcome, {{readSession('activeUser')}}!
        </a>
        <a id="nav-dashboard" class="item loggedIn" [ngClass]="{'active': href === '/adminDashboard'}" [routerLink]="['/adminDashboard']">
          Admin Dashboard
        </a>
        <a id="nav-events" class="item loggedIn" [ngClass]="{'active': href === '/events'}" [routerLink]="['/events']">
          Events
        </a>
        <a id="nav-account" class="item loggedIn" [ngClass]="{'active': href === '/account'}" [routerLink]="['/account/profile']">
          My Account
        </a>
        <a id="nav-logout" class="item loggedIn" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>
