<div *ngIf="showInfoModal">
  <div class="modal">
    <div class="ui active modal">
        <i class="close icon" (click)="hideModal()"></i>
        <div class="header">Edit Information</div>
        <div class="content">
          <form [formGroup]="editProfile" class="ui form">
            <div class="form-group">
              <div class="field">
                <label class="inputTitle">First Name</label>
                <input formControlName="editFirstName" type="text" class="form-control" id="editFirstName">
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <label class="inputTitle">Last Name</label>
                <input formControlName="editLastName" type="text" class="form-control" id="editLastName">
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <label class="inputTitle">Email</label>
                <input formControlName="editEmail" type="text" class="form-control" id="editEmail">
              </div>
            </div>
            <div class="form-group">
                <button class="ui button" id="edit-button" type="submit" (click)="editUserProfile()">Submit</button>
            </div>
        </form>
        </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="showPasswordModal">
  <div class="modal">
    <div class="ui active modal">
      <i class="close icon" (click)="hideModal()"></i>
      <div class="header">Update Password</div>
      <div class="content">
        <form [formGroup]="updatePassword" class="ui form">
          <div class="form-group">
            <div class="field">
              <label class="inputTitle">Old Password</label>
              <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <label class="inputTitle">New Password</label>
              <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <label class="inputTitle">Re-enter New Password</label>
              <input formControlName="confirmedNewPassword" type="password" class="form-control" id="confirmedNewPassword">
            </div>
          </div>
          <div class="form-group">
            <button class="ui button" id="edit-button" type="button" (click)="updateUserPassword()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="content">
  <div class="ui grid">
    <div class="row">
      <h2 class="profile-header">MY PROFILE</h2>
    </div>
    <div class="row">
      <div class="four wide column align-right">First Name:</div>
      <div class="twelve wide column">{{userFirstName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">Last Name:</div>
      <div class="twelve wide column">{{userLastName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">User Name:</div>
      <div class="twelve wide column">{{userName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">Email:</div>
      <div class="twelve wide column">{{userEmail}}</div>
    </div>
    <div class="row">
      <div class="sixteen wide column align-right">
        <button (click)="displayInfoModal()" class="ui button float-right">Edit Information</button>
        <!-- <button (click)="displayPasswordModal()" class="ui button float-right">Update Password</button> -->
      </div>
    </div>
  </div>
</div>
