

<div class="content">
  <div class="ui grid">
    <div class="row">
      <h2 class="profile-header">MY PROFILE</h2>
    </div>
    <div class="row">
      <div class="four wide column align-right">First Name:</div>
      <div class="twelve wide column">{{userFirstName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">Last Name:</div>
      <div class="twelve wide column">{{userLastName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">User Name:</div>
      <div class="twelve wide column">{{userName}}</div>
    </div>
    <div class="row">
      <div class="four wide column align-right">Email:</div>
      <div class="twelve wide column">{{userEmail}}</div>
    </div>
    <div class="row">
      <div class="sixteen wide column align-right">
        <button (click)="displayInfoModal()" class="ui button float-right">Edit Information</button>
        <button (click)="displayPasswordModal()" class="ui button float-right">Update Password</button>
      </div>
    </div>
  </div>

  <div id="editProfileModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      <p>Edit Information</p>
    </div>
    <div class="content">
      <form [formGroup]="editProfile" class="ui form">
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">First Name</label>
            <input formControlName="editFirstName" type="text" class="form-control" id="editFirstName">
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">Last Name</label>
            <input formControlName="editLastName" type="text" class="form-control" id="editLastName">
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">Email</label>
            <input formControlName="editEmail" type="text" class="form-control" id="editEmail">
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui approve button" id="edit-button" (click)="editUserProfile()">Update</div>
    </div>
  </div>

  <div id="editPasswordModal" class="ui tiny modal">
    <i class="close icon cancel"></i>
    <div class="header">
      <p>Update Password</p>
    </div>
    <div class="content">
      <form [formGroup]="updatePassword" class="ui form">
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">Old Password</label>
            <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword">
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label class="inputTitle">Re-enter New Password</label>
            <input formControlName="confirmedNewPassword" type="password" class="form-control" id="confirmedNewPassword">
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui button" id="edit-button" (click)="updateUserPassword()">Update</div>
    </div>
    <div id="center" *ngIf="showErrorMessage || showSuccessMessage">
      <div class="ui error message" *ngIf="showErrorMessage">
        <div class="header">Update Error</div>
        <p>{{updatePasswordError}}</p>
      </div>
      <div class="ui success message" *ngIf="showSuccessMessage">
        <div class="header">Success!</div>
        <p>{{successMessage}}</p>
      </div>
    </div>
  </div>

</div>
