<table class="ui very basic collapsing celled table">
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="" class="ui mini rounded image">
          <div class="content">
            First Name:
          </div>
        </h4>
      </td>
        <td>
          22
        </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="" class="ui mini rounded image">
          <div class="content">
            Last Name:
          </div>
        </h4>
      </td>
      <td>
        15
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="" class="ui mini rounded image">
          <div class="content">
            Username:
          </div>
        </h4>
      </td>
      <td>
        {{readSession('activeUser')}}
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="" class="ui mini rounded image">
          <div class="content">
            Email:
          </div>
        </h4>
      </td>
      <td>
        {{readSession('userEmail')}}
      </td>
    </tr>
  </tbody>
</table>
