<app-navbar></app-navbar>
<div class="ui card centered">
  <form [formGroup]="registerForm" class="ui form" [ngClass]="{'error': registerError}">
    <div class="content">
      <div class="center aligned description grid">
        <h2 class="register-header">Get Started</h2>
        <div class="row padded">
          <div class="field">
            <input formControlName="firstname" type="text" name="firstname" placeholder="First name">
          </div>
        </div>
        <div class="row padded">
          <div class="field">
            <input formControlName="lastname" type="text" name="lastname" placeholder="Last name">
          </div>
        </div>
        <div class="row padded">
          <div class="field">
            <input formControlName="email" type="text" name="email" placeholder="Email">
          </div>
        </div>
        <div class="row padded">
          <div class="field">
            <input formControlName="username" type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="row padded">
          <div class="field">
            <input formControlName="password" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="row padded">
          <div class="field">
            <input formControlName="cpass" type="password" name="cpass" placeholder="Confirm Password">
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
        <div class="center aligned author padded">
          <button class="ui button" id="register" type="submit" (click)="register()">Register</button>
          <button class="ui button" id="login" [routerLink]="['/login']" routerLinkActive="active">Login</button>
          <div class="ui error message">
            <div class="header">Registration Error</div>
            <p>{{registerError}}</p>
          </div>
        </div>
    </div>
  </form>
</div>
