.dashboard {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position:relative;
}

/*Tabular menu*/
.ui.vertical.fluid.tabular.menu .item{
  color:white;
  background: rgba(55, 13, 25,.8);
}

.ui.tab.segment{
  color:white;
  background: rgba(55, 13, 25,.8);
}

.ui.top.attached.tabular.menu .item{
  color:white;
  background: rgba(55, 13, 25,.8);
}

.ui.bottom.attached.tab.segment{
  color:white;
  background: rgba(55, 13, 25,.8);
}

/*Event calendar list*/
.fourteen.wide.column{
  height: 50rem;
  overflow-x:scroll;
  color:white;
}

.form-group:hover{
  color: white;
}
/* .fc-list-heading{
  background: rgba(20,9,9,.8);
} */

/* .ui.transparent.icon.input{
  margin-left: auto;
  margin-right: 0;
  float: right;
  display: inline;
} */
/* .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header { */
/* .fc-list-item{
  background: rgba(20,9,9,.8) !important;
} */
