.dashboard {
  height: 40em;
  width: 80%;
  margin: 0 auto;
  position:relative;
}

/* .ui.transparent.icon.input{
  margin-left: auto;
  margin-right: 0;
  float: right;
  display: inline;
} */

.ui.vertical.fluid.tabular.menu .item{
  color:white;
  background: rgba(20,9,9,.8);
}

.ui.tab.segment{
  color:white;
  background: rgba(20,9,9,.8);
}

.ui.top.attached.tabular.menu .item{
  color:white;
  background: rgba(20,9,9,.8);
}

.ui.bottom.attached.tab.segment{
  color:white;
  background: rgba(20,9,9,.8);
}