/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    background: rgb(39, 22, 80) !important;
    background: url("assets/images/body-bg.jpg") no-repeat !important;
    background-size: cover !important;
    color: white;
}
/* a {
  color: white;
}
a:active,
a:hover {
  color: rgb(218, 218, 218);
} */


.fc-today {
  background: rgba(255, 255, 255, 0.15) !important;
}

.fc .fc-button-group>* {
  background: rgba(52, 222, 252, 0.721) !important;
}

.fc .fc-toolbar>*>:first-child {
  color: white !important;
}

.fc-icon-chevron-left:before {
  content: "‹";
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.fc-icon-chevron-right:before {
  content: "›";
  color: white;
  font-weight: bold;
  font-size: 22px;
}





